<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/mydb</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <mapping resource="database/hibernate/Airport.hbm.xml" />
        <mapping resource="database/hibernate/Airline.hbm.xml" />
        <mapping resource="database/hibernate/Itinerary.hbm.xml" />
        <mapping resource="database/hibernate/Flight.hbm.xml" />
        <mapping resource="database/hibernate/Customer.hbm.xml" />
    </session-factory>
</hibernate-configuration>
