<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- the application context definition for the springapp DispatcherServlet -->

  <bean name="/hello.spring" class="springapp.web.HelloController"/>
  
  <bean name="/register.spring" class="springapp.web.CustomerController">
    <property name="formView" value="register"/>
    <property name="successView" value="registered"/>
    <property name="commandName" value="customer"/>
    <property name="commandClass" value="hibernate.Customer"/>
  </bean>

  <bean name="/addflight.spring" class="springapp.manager.AddFlightController"> 
    <property name="formView" value="addflight"/>
    <property name="commandName" value="flight"/>
    <property name="commandClass" value="hibernate.Flight"/>	
  </bean>
  
  <bean name="/flightSearchForCustomerForm.spring" class="springapp.web.FlightSearchForCustomerFormController">
  	<property name="sessionForm" value="true"/>
  	<property name="commandName" value="flightSearchForCustomerCMD"/>
  	<property name="commandClass" value="springapp.web.FlightSearchForCustomer"/>
  	<property name="validator">
  		<bean class="springapp.web.FlightSearchForCustomerValidator"/>
  	</property>
  	<property name="formView" value="flightSearchForCustomerForm"/>
  	<!--property name="successView" value="flightSearchForCustomerForm.spring"/-->
  </bean>
  
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
    <property name="prefix" value="/WEB-INF/jsp/"></property>
    <property name="suffix" value=".jsp"></property>        
  </bean>
  

</beans>
